<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846981159573-5l9kfqdqe19fvbnilq3qppjem5ak7jpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846981159573-5l9kfqdqe19fvbnilq3qppjem5ak7jpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCFM0uTmUOpxGnha43xQ2yh587RSnCAbcI</string>
	<key>GCM_SENDER_ID</key>
	<string>846981159573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppDemo2</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo1-d42f3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo1-d42f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846981159573:ios:2fc8f89b249527d313999c</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo1-d42f3.firebaseio.com</string>
</dict>
</plist>